server:
  port: 8082

spring:
  application:
    name: gateway-service
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 376890750852-ciqcifmeu5hktfqjuv8leli2nat881fk.apps.googleusercontent.com
            client-secret: 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
            scope: openid, profile, email, https://www.googleapis.com/auth/cloud-platform.read-only
            redirect-uri: "http://localhost:8082/login/oauth2/code/google"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  cloud:
    gateway:
      routes:
        - id: event-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/events/**
          filters:
            - AddRequestHeader=X-Gateway-Request-Id, ${random.uuid}
            - name: CustomHeaderFilter

        - id: stage-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/stages/**
          filters:
            - AddRequestHeader=X-Gateway-Request-Id, ${random.uuid}
            - name: CustomEventSizeFilter
          
      default-filters:
        - AddRequestHeader=X-Requested-With, Gateway-Service
        - AddResponseHeader=X-Content-Type-Options, nosniff
        - name: CustomRegionFilter
          args:
            region: EU-RO
            contentLanguage: ro-RO
            originRegion: Romania
            contentLocation: Europe/Romania

  zipkin:
    base-url: http://localhost:9411

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: false

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers,shutdown
  endpoint:
    health:
      show-details: always
    shutdown:
      access: unrestricted

logging:
  level:
    org:
      example:
        gateway: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

